{{define "base" }}
<!DOCTYPE html>
<html lang="en">
  {{template "header" .}}

  <body data-bs-theme="dark">
    <div class="d-flex flex-column min-vh-100">
      <div class="flex-fill">
        {{block "content" .}}
        {{ end }}
      </div>

      {{template "footer" .}}
    </div>

    {{block "js" .}}
    {{ end }}
  </body>
</html>

{{ end }}
