{{template "base" .}}

{{define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Test microservices</h1>
      <hr />
      <h4 class="mt-5">Output</h4>
      <div id="output" class="p-2 border border-dark-subtle">
        <span class="text-muted">Output shows here...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="mt-5">Sent</h4>
      <div class="mt-1 p-2 border border-dark-subtle">
        <pre
          id="payload"
        ><span class="text-muted">Nothing sent yet...</span></pre>
      </div>
    </div>
    <div class="col">
      <h4 class="mt-5">Received</h4>
      <div class="mt-1 p-2 border border-dark-subtle">
        <pre
          id="received"
        ><span class="text-muted">Nothing received yet...</span></pre>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script></script>
{{ end }}
